<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monktiger.examsystem.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.monktiger.examsystem.entity.Admin">
    <id column="username" jdbcType="VARCHAR" property="username" />
    <id column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.monktiger.examsystem.entity.Admin">
    delete from tb_admin
    where username = #{username,jdbcType=VARCHAR}
      and `password` = #{password,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.monktiger.examsystem.entity.Admin">
    insert into tb_admin (username, `password`)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.monktiger.examsystem.entity.Admin">
    insert into tb_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>