<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monktiger.examsystem.mapper.CopyToQuestionMapper">
  <resultMap id="BaseResultMap" type="com.monktiger.examsystem.entity.CopyToQuestion">
    <id column="copyId" jdbcType="INTEGER" property="copyId" />
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="already" jdbcType="BIT" property="already" />
  </resultMap>
  <sql id="Base_Column_List">
    copyId, id, score, answer, already
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.monktiger.examsystem.entity.CopyToQuestion" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_copy_to_question
    where copyId = #{copyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="checkQuestionType" resultType="java.lang.Integer">
    select
    `type`
    from tb_copy_to_question
    where copyId = #{copyId,jdbcType=INTEGER}
    and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCopyIdScore" resultType="java.lang.Integer">
    select count(*)
    from tb_copy_to_question
    where copyId = #{copyId} and score is null;
  </select>
  <select id="selectByCopyId" resultType="com.monktiger.examsystem.entity.CopyToQuestion">
    select *
    from tb_copy_to_question
    where copyId = #{copyId}
    order by id;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.monktiger.examsystem.entity.CopyToQuestion">
    delete from tb_copy_to_question
    where copyId = #{copyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.monktiger.examsystem.entity.CopyToQuestion">
    insert into tb_copy_to_question (copyId, id, score,
      answer, already)
    values (#{copyId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{answer,jdbcType=VARCHAR}, #{already,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.monktiger.examsystem.entity.CopyToQuestion">
    insert into tb_copy_to_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="copyId != null">
        copyId,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="already != null">
        already,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="copyId != null">
        #{copyId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="already != null">
        #{already,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <insert id="createQuestion">
    insert into tb_copy_to_question (copyId, id, already)
    values (#{copy.copyId},#{examq.id},#{already})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.monktiger.examsystem.entity.CopyToQuestion">
    update tb_copy_to_question
    <set><if test="copyToQuestion.score != null">score = #{copyToQuestion.score,jdbcType=INTEGER},</if>
      <if test="copyToQuestion.answer != null"> answer = #{copyToQuestion.answer,jdbcType=VARCHAR},</if>
      <if test="copyToQuestion.already != null">already = #{copyToQuestion.already,jdbcType=BIT}</if></set>
    where copyId = #{copyToQuestion.copyId,jdbcType=INTEGER}
      and id = #{copyToQuestion.id,jdbcType=INTEGER}
  </update>
</mapper>