<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monktiger.examsystem.mapper.ExamToQuestionMapper">
  <resultMap id="BaseResultMap" type="com.monktiger.examsystem.entity.ExamToQuestion">
    <id column="examId" jdbcType="INTEGER" property="examId" />
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="current" jdbcType="VARCHAR" property="current" />
    <result column="answerA" jdbcType="VARCHAR" property="answerA" />
    <result column="answerB" jdbcType="VARCHAR" property="answerB" />
    <result column="answerC" jdbcType="VARCHAR" property="answerC" />
    <result column="answerD" jdbcType="VARCHAR" property="answerD" />
  </resultMap>
  <sql id="Base_Column_List">
    examId, id, score, title, `type`, `current`, answerA, answerB, answerC, answerD
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.monktiger.examsystem.entity.ExamToQuestion" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_exam_to_question
    where examId = #{examId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByExamKey" resultType="com.monktiger.examsystem.entity.ExamToQuestion">
    select
    <include refid="Base_Column_List" />
    from tb_exam_to_question
    where examId = #{examId,jdbcType=INTEGER}
    order by id;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.monktiger.examsystem.entity.ExamToQuestion">
    delete from tb_exam_to_question
    where examId = #{examId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deletByExamId">
      delete from tb_exam_to_question
      where examId = #{examId}
    </delete>
    <insert id="insert" parameterType="com.monktiger.examsystem.entity.ExamToQuestion">
    insert into tb_exam_to_question (examId, id, score, 
      title, `type`, `current`, 
      answerA, answerB, answerC, 
      answerD)
    values (#{examId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{current,jdbcType=VARCHAR}, 
      #{answerA,jdbcType=VARCHAR}, #{answerB,jdbcType=VARCHAR}, #{answerC,jdbcType=VARCHAR}, 
      #{answerD,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.monktiger.examsystem.entity.ExamToQuestion">
    insert into tb_exam_to_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        examId,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="current != null">
        `current`,
      </if>
      <if test="answerA != null">
        answerA,
      </if>
      <if test="answerB != null">
        answerB,
      </if>
      <if test="answerC != null">
        answerC,
      </if>
      <if test="answerD != null">
        answerD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        #{examId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="current != null">
        #{current,jdbcType=VARCHAR},
      </if>
      <if test="answerA != null">
        #{answerA,jdbcType=VARCHAR},
      </if>
      <if test="answerB != null">
        #{answerB,jdbcType=VARCHAR},
      </if>
      <if test="answerC != null">
        #{answerC,jdbcType=VARCHAR},
      </if>
      <if test="answerD != null">
        #{answerD,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.monktiger.examsystem.entity.ExamToQuestion">
    update tb_exam_to_question
    <set>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="current != null">
        `current` = #{current,jdbcType=VARCHAR},
      </if>
      <if test="answerA != null">
        answerA = #{answerA,jdbcType=VARCHAR},
      </if>
      <if test="answerB != null">
        answerB = #{answerB,jdbcType=VARCHAR},
      </if>
      <if test="answerC != null">
        answerC = #{answerC,jdbcType=VARCHAR},
      </if>
      <if test="answerD != null">
        answerD = #{answerD,jdbcType=VARCHAR},
      </if>
    </set>
    where examId = #{examId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.monktiger.examsystem.entity.ExamToQuestion">
    update tb_exam_to_question
    set score = #{score,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      `current` = #{current,jdbcType=VARCHAR},
      answerA = #{answerA,jdbcType=VARCHAR},
      answerB = #{answerB,jdbcType=VARCHAR},
      answerC = #{answerC,jdbcType=VARCHAR},
      answerD = #{answerD,jdbcType=VARCHAR}
    where examId = #{examId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>