<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monktiger.examsystem.mapper.GroupToExamMapper">
  <resultMap id="BaseResultMap" type="com.monktiger.examsystem.entity.GroupToExamKey">
    <id column="gid" jdbcType="VARCHAR" property="gid" />
    <id column="eid" jdbcType="VARCHAR" property="eid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.monktiger.examsystem.entity.GroupToExamKey">
    delete from tb_group_to_exam
    where gid = #{gid,jdbcType=VARCHAR}
      and eid = #{eid,jdbcType=VARCHAR}
  </delete>
    <select id="selectByGroupId" resultType="java.lang.Integer">
      select eid
      from tb_group_to_exam
      where gid = #{groupId}
    </select>
    <insert id="insert" parameterType="com.monktiger.examsystem.entity.GroupToExamKey">
    insert into tb_group_to_exam (gid, eid)
    values (#{gid,jdbcType=VARCHAR}, #{eid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.monktiger.examsystem.entity.GroupToExamKey">
    insert into tb_group_to_exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        gid,
      </if>
      <if test="eid != null">
        eid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        #{gid,jdbcType=VARCHAR},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="UpdateAssociation">
    replace into tb_group_to_exam
    (eid,gid)
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    #{id},
    <foreach collection="groupList" index="index" item="group">
      #{group}
    </foreach>
    </trim>
  </insert>
</mapper>